---
layout: default
title: "Projects"
permalink: /projects/
---

<div class="tags">
  <div class="tags-header">
    <h2 class="tags-header-title">{{ page.title }}</h2>
    <div class="tags-header-line"></div>
  </div>

  <div class="catalogue">
    {% for post in site.posts %}
    {% if post.project %}
      <a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
        <div>
          <h1 class="catalogue-title">{{ post.title }}</h1>
          <div class="catalogue-line"></div>

          <p>
            {{ post.content | strip_html | truncatewords: 30 }}
          </p>

        </div>
      </a>
    {% endif %}
    {% endfor %}
  </div>

</div>
