<footer>
  <p>
    <a href="{{ '/feed.xml' | prepend: site.baseurl }}">RSS</a>,
    <a href="{{ site.sources }}">Sources</a>,
    <a href="/impressum" rel="nofollow">Impressum / Datenschutz / Privacy</a>
  </p>
  <span>
    &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}. Made with Jekyll using a modified <a href="https://github.com/chesterhow/tale/">Tale</a> theme.
  </span>
</footer>

{% if page and page.script %}
{% capture path %}assets/js/{{ page.script }}.js{% endcapture %}
<script type="text/javascript" src="{{ site.url }}{{ site.baseurl }}/assets/js/{{ page.script }}.js?{{ path | file_hash }}" async></script>
{% endif %}
