<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">Essays</a></li>
      <!--<li><a href="{{ '/projects' | prepend: site.baseurl }}">Projects</a></li>-->
      <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <li><a target="_blank" href="https://darmstadt.social/@w4tsn">Blog</a></li>
      <li><a href="{{ '/about' | prepend: site.baseurl }}">About</a></li>
    </ul>
  </div>
</nav>
