@font-face {
  font-family: "Libre Baskerville";
  font-display: swap;
  src: url("/assets/fonts/LibreBaskerville-Regular.ttf");
  src: url("/assets/fonts/LibreBaskerville-Regular.woff") format("woff");
  src: url("/assets/fonts/LibreBaskerville-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Crimson Pro";
  font-display: swap;
  src: url("/assets/fonts/CrimsonPro-Regular.ttf");
  src: url("/assets/fonts/CrimsonPro-Regular.woff") format("woff");
  src: url("/assets/fonts/CrimsonPro-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("/assets/fonts/OpenSans-Regular.ttf");
  src: url("/assets/fonts/OpenSans-Regular.woff") format("woff");
  src: url("/assets/fonts/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Source Code Pro";
  font-display: swap;
  src: url("/assets/fonts/SourceCodePro-Regular.ttf");
  src: url("/assets/fonts/SourceCodePro-Regular.woff") format("woff");
  src: url("/assets/fonts/SourceCodePro-Regular.woff2") format("woff2");
}
