.projects {
  padding: 3rem 0;

  &-header {
    &-title {
      color: $default-shade;
      font-family: $serif-primary;
      font-size: 4rem;
      margin: 1rem 0;
      text-align: center;
    }

    &-line {
      border-top: 0.4rem solid $default-shade;
      display: block;
      margin: 0 auto 3rem;
      width: 4rem;
    }
  }
}
