---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ content }}
</div>

<div class="comment-notice">
  <h2>Any thoughts of your own?</h2>
  <p>Feel free to raise a discussion with me on <a href="https://darmstadt.social/@w4tsn">Mastodon</a> or drop me an email.</p>
</div>

<div class="pagination">
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="left arrow">&#8592; Previous</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="right arrow">Next &#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>